# Project uses reStructuredText, so ensure that the docutils get installed
# or upgraded on the target machine
ahrs
allantools
docutils>=0.3
matplotlib>=3.0
netcdf4>=1.5
numpy>=1.18
pandas>=1.0
rpy2>=3.3
scikit-learn>=0.20.0
scipy>=1.5
statsmodels>=0.11
xarray>=0.16
